
.renderjson a              { text-decoration: none; }
.renderjson .disclosure    { color: #FEA47F;
                             font-size: 100%; }
.renderjson .syntax        { color: darkgrey; }
.renderjson .string        { color: #47B9A8; }
.renderjson .number        { color: #e16da3; }
.renderjson .boolean       { color: #BB54A8; }
.renderjson .key           { color: #a3a097; }
.renderjson .keyword       { color: #8fd089; }
.renderjson .object.syntax { color: #6e7a84; }
.renderjson .array.syntax  { color: #6e7a84; }
